body {
    color: #730f91;
    text-align: center;
    background-image: url(https://i.ytimg.com/vi/DKIh2W7fyq4/maxresdefault.jpg);
}


h1 {
    font-size:40px;
    font-family: monospace;
    color:#730f91;
}



